{{ partial "head.html" . }}
<body>

    <div class="container">
        {{ partial "nav.html" . }}
        <div class="row">
            <div class="col-md-4"><strong>WHO(1)</strong></div>
            <div class="col-md-4"><strong>User Commands</strong></div>
            <div class="col-md-4"><strong>WHO(1)</strong></div>
        </div>
        <h3>NAME</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">who - Andrew E. Bruno</div>
        </div>
        <h3>SYNOPSIS</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">software engineer, system administrator, bioinformatician</div>
        </div>
        <h3>DESCRIPTION</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                Andrew E. Bruno enjoys spending his time tinkering with code, administering high performance
                GNU/Linux systems, and hacking genomic sequences. He currently works
                at the Center for Computational Research (CCR) at the University at Buffalo.
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <strong><a href="/">-a, --about</a></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="tab">Display version information</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <strong><a href="/blog/">-b, --syncopated-pandemonium</a></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="tab">Writings about programming, bioinformatics, and life in general.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <strong><a href="/publications/">-p, --publications</a></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="tab">List of scientific publications</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <strong><a href="https://github.com/aebruno">-s, --software</a></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="tab">Free software</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <strong><a href="/contact/">-c, --contact</a></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="tab">Contact information</div>
            </div>
        </div>
        <h3>AUTHOR</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">Written by Andrew E. Bruno</div>
        </div>
        <h3>COPYRIGHT</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/us/">Creative Commons Attribution-NoDerivs 3.0 United States License</a>.
            </div>
        </div>
        <h3>SEE ALSO</h3>
        <div class="row">
            <div class="col-md-8 col-md-offset-1"><a href="http://buffalo.edu/~aebruno2">http://buffalo.edu/~aebruno2</a></div>
        </div>
    </div>

{{ partial "footer.html" . }}
  </body>
</html>
