<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andrew E. Bruno</title>
    <meta name="description" content="Andrew E. Bruno is a software developer and GNU/Linux enthusiast. His interests include web development, high performance computing, and data visualization.">
    <meta name="author" content="Andrew E. Bruno">
    <meta name="keywords" content="Andrew Bruno Andy Bruno software developer programmer software engineer qnot.org left.subtree.org" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">Andrew E. Bruno</a>
          <ul class="nav">
            <li><a href="about.html">About</a></li>
            <li><a href="pubs.html">Publications</a></li>
            <li><a href="code.html">Code</a></li>
            <li><a href="http://left.subtree.org">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="row">
          <div class="span10">
            {{ content }}
          </div>
          <div class="span4">
            <h3>Recent Posts</h3>
            <ul>
                <li><em>2012-04-13</em>
                    <a href="http://left.subtree.org/2012/04/13/counting-the-number-of-reads-in-a-bam-file/">Counting the number of reads in a BAM file</a>
                </li>
                <li><em>2012-01-14</em>
                    <a href="http://left.subtree.org/2012/01/14/questions-about-software-engineering/">Questions about Software Engineering</a>
                </li>
                <li><em>2011-07-01</em>
                    <a href="http://left.subtree.org/2011/07/01/passtab-store-passwords-in-your-wallet/">passtab – store passwords in your wallet</a>
                </li>
                <li><em>2011-04-09</em>
                    <a href="http://left.subtree.org/2011/04/09/wordpress-blog-to-print-book-a-case-study/">WordPress Blog to Print Book - A Case Study</a>
                </li>
                <li><em>2010-09-14</em>
                    <a href="http://left.subtree.org/2010/09/14/logging-out-without-killing-a-process/">Logging out without killing a process</a>
                </li>
                <li><em>2010-09-13</em>
                    <a href="http://left.subtree.org/2010/09/13/no-more-moko-for-me/">No more moko for me</a>
                </li>
                <li><em>2008-08-13</em> 
                    <a href="http://left.subtree.org/2008/08/13/freerunner-first-boot/">Freerunner First Boot</a>
                </li>
                <li><em>2008-07-22</em> 
                    <a href="http://left.subtree.org/2008/07/22/neo-freerunner-freedom/">Neo FreeRunner = Freedom</a>
                </li>
            </ul>

          </div>
        </div>
      </div>

      <footer>
        <p>Last updated: 2014-02-13 | Andrew E. Bruno</p>
      </footer>

    </div> <!-- /container -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-495050-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
  </body>
</html>
