<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Andrew E. Bruno</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="Andrew Bruno Andy Bruno software developer programmer software engineer qnot.org left.subtree.org" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="index.html">Andrew E. Bruno</a>
          <ul class="nav">
            <li><a href="about.html">About</a></li>
            <li><a href="code.html">Code</a></li>
            <li><a href="http://left.subtree.org">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="row">
          <div class="span10">
            {{ content }}
          </div>
          <div class="span4">
            <h3>Recent Posts</h3>
            <ul>
                <li><em>2011-07-01</em>
                    <a href="http://left.subtree.org/2011/07/01/passtab-store-passwords-in-your-wallet/">passtab – store passwords in your wallet</a>
                </li>
                <li><em>2011-04-09</em>
                    <a href="http://left.subtree.org/2011/04/09/wordpress-blog-to-print-book-a-case-study/">WordPress Blog to Print Book - A Case Study</a>
                </li>
                <li><em>2010-09-14</em>
                    <a href="http://left.subtree.org/2010/09/14/logging-out-without-killing-a-process/">Logging out without killing a process</a>
                </li>
                <li><em>2010-09-13</em>
                    <a href="http://left.subtree.org/2010/09/13/no-more-moko-for-me/">No more moko for me</a>
                </li>
                <li><em>2008-08-13</em> 
                    <a href="http://left.subtree.org/2008/08/13/freerunner-first-boot/">Freerunner First Boot</a>
                </li>
                <li><em>2008-07-22</em> 
                    <a href="http://left.subtree.org/2008/07/22/neo-freerunner-freedom/">Neo FreeRunner = Freedom</a>
                </li>
            </ul>

          </div>
        </div>
      </div>

      <footer>
        <p>Copyright &copy; 2012 Andrew E. Bruno</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
